.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container p{
  float:left;
}

.container .col-4 {
  float: right;

}

.container #promo-code {
  float: right;

}

.container #checkout-btn{
  float: right;
}

#checkout-container {
  border-top: solid 10px gray ;
  padding-top: 20px;
  padding-bottom: 20px;

}

#item-detail{
  float: right;
}
